.banner-background{
    background-color: #FEEAE9;
}

.categories img{
    width: 100px;
}

.panda-btn-buy-now{
    color:white;
    border-radius: 9px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(#FF589B,#FF136F);
}